body {
    margin: 0;
    padding: 0;
    position: relative;
}

textarea {
    resize: none;
    border-radius: 10px;
    border: 1.5px solid darkblue;
    outline: none;
    display: block;
    padding: 20px;
    height: 355px;
    min-height: 355px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: white;
}

nav {
    background-color: black;
    opacity: 0.7;
    width: 20%;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
    position: fixed;
}

#bar {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
}

#bar .menu {
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.submenu {
    padding-top: 20px;
    padding-left: 0px;
}

#footer {
    display: flex;
    justify-content: center;
    min-height: 59px;
    background-color: black;
    opacity: 0.7;
    color: white;
}

#page-form {
    display: flex;
    justify-content: space-around;
}

#heading {
    display: block;
    padding: 20px;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
    margin-top: 50px;
    min-width: 300px;
    border: 1px solid darkblue;
}

.whitespace {
    height: 180px;
}

.whitespace2 {
    height: 180px;
}

#editor {
    padding-bottom: 20px;
    width: 70%;
}

#upload {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 20px;
    border: none;
    opacity: 0.7;
    /* position: absolute;
    bottom: 170px;
    right: 580px; */
    cursor: pointer;
}

#upload:hover {
    background-color: green;
}

#update:hover {
    background-color: green;
}

#update {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 20px;
    border: none;
    opacity: 0.7;
    /* position: absolute;
    bottom: 170px;
    right: 450px; */
    cursor: pointer;
}

#deletePage {
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 20px;
    border: none;
    opacity: 0.7;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#deletePage:hover {
    font-size: 20px;
    font-weight: bold;
}

.user {
    text-decoration: underline;
    color: darkcyan;
    font-size: 22px;
    margin: 0;
}

.usersPages {
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu {
    overflow: hidden;
    width: 250px;
}

.pagesLinks:hover {
    color: green;
}

.logout:hover {
    background-color: red;
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
}

/* #file {
    position: absolute;
    bottom: 180px;
    left: 400px;
} */

#imagePreview {
    /* position: absolute; */
    /* bottom: 140px;
    right: 750px; */
    border: 2px solid red;
    width: 100px;
    height: 100px;
    background-position: center center;
    background-size: cover;
    display: inline-block;
    
}

.pagephoto {
    /* position: absolute;
    bottom: 360px;
    right: 30px; */
    border: 2px solid green;
}

/* #imageAdd {
    position: absolute;
    right: 200px;
    top: 220px;
} */

#currentPage {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: darkblue;
    margin: 0;
    letter-spacing: 2px;
}

#side {
    width: 30%;
}